In [2]:
import pandas as pd

In [21]:
#importing daily covid data for US and Italy cases. The Italy data is split up by regions and the US is not so we will need to combine the Italy regions

US_daily_covid_cases = pd.read_csv("..\\data\\raw\\USA_Covid_Data\\us_covid19_daily.csv")
Italy_region_daily_covid_cases = pd.read_csv("..\\data\\raw\\Italy_Covid_Data\\covid19_italy_region.csv")

In [36]:
# we care about the total datapoints accross all regions so we will groupby date and sum
Italy_daily_covid_cases = Italy_region_daily_covid_cases.groupby("Date").sum()
#region code is no longer important
# Italy_daily_covid_cases.drop("RegionCode")
Italy_daily_covid_cases = Italy_daily_covid_cases.drop("RegionCode",axis=1)

,SNo,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
Date,,,,,,,,,,,,,
2020-02-24T18:00:00,210,903.972147,256.745065,101,26,127,94,221,221,1,7,229,0.0
2020-02-25T18:00:00,651,903.972147,256.745065,114,35,149,162,311,93,1,10,322,0.0
2020-02-26T18:00:00,1092,903.972147,256.745065,128,36,164,221,385,78,3,12,400,0.0
2020-02-27T18:00:00,1533,903.972147,256.745065,248,56,304,284,588,250,45,17,650,0.0
2020-02-28T18:00:00,1974,903.972147,256.745065,345,64,409,412,821,238,46,21,888,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-26T17:00:00,81354,903.972147,256.745065,1055,69,1124,19629,20753,1367,206329,35458,262540,4877178.0
2020-08-27T17:00:00,81795,903.972147,256.745065,1131,67,1198,20734,21932,1411,206554,35463,263949,4934818.0
2020-08-28T17:00:00,82236,903.972147,256.745065,1178,74,1252,21783,23035,1462,206902,35472,265409,4999953.0
2020-08-29T17:00:00,82677,903.972147,256.745065,1168,79,1247,21909,23156,1444,208224,35473,266853,5064247.0
2020-08-30T17:00:00,83118,903.972147,256.745065,1251,86,1337,22868,24205,1365,208536,35477,268218,5117788.0

In [24]:
# summary statistics
US_daily_covid_cases.describe()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,death,hospitalized,total,totalTestResults,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
count,2.210000e+02,221.000000,2.210000e+02,2.210000e+02,179.000000,166.000000,179.000000,157.000000,158.000000,158.000000,...,202.000000,179.000000,2.210000e+02,2.210000e+02,2.210000e+02,221.00000,221.000000,221.000000,221.000000,221.000000
mean,2.020050e+07,45.036199,1.789319e+06,1.850704e+07,7509.675978,41164.006024,184439.072626,8690.898089,8790.170886,3319.525316,...,77307.183168,184439.072626,2.030245e+07,2.029636e+07,2.029636e+07,790.80543,1669.076923,318539.303167,26825.253394,345364.556561
std,2.106426e+02,21.388794,1.835068e+06,2.172689e+07,13753.115689,15071.244572,114424.281874,3197.062564,5084.229589,1626.464141,...,59435.830442,114424.281874,2.354745e+07,2.354934e+07,2.354934e+07,687.83371,1875.153838,275331.870615,21352.631245,294541.985010
min,2.020012e+07,1.000000,0.000000e+00,0.000000e+00,103.000000,325.000000,4.000000,1299.000000,74.000000,167.000000,...,0.000000,4.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.00000,-2841.000000,0.000000,0.000000,0.000000
25%,2.020032e+07,56.000000,1.034200e+04,6.513100e+04,2120.500000,32457.250000,91137.500000,5930.000000,4521.250000,2260.000000,...,4566.500000,91137.500000,7.716000e+04,7.547300e+04,7.547300e+04,23.00000,10.000000,16525.000000,3082.000000,18025.000000
50%,2.020051e+07,56.000000,1.352463e+06,8.053622e+06,3307.000000,42533.000000,213260.000000,8487.000000,9334.000000,2707.000000,...,90196.000000,213260.000000,9.408074e+06,9.406085e+06,9.406085e+06,724.00000,1440.000000,290562.000000,25097.000000,309685.000000
75%,2.020070e+07,56.000000,2.890899e+06,3.287280e+07,4195.000000,53973.750000,270650.500000,10472.000000,12590.500000,4758.250000,...,126056.500000,270650.500000,3.576558e+07,3.576370e+07,3.576370e+07,1231.00000,2318.000000,597782.000000,42487.000000,638231.000000
max,2.020083e+07,56.000000,5.928381e+06,7.039719e+07,65709.000000,59940.000000,368866.000000,15130.000000,17401.000000,7070.000000,...,174768.000000,368866.000000,7.633672e+07,7.632557e+07,7.632557e+07,2752.00000,17320.000000,851205.000000,76844.000000,926440.000000

In [25]:
Italy_region_daily_covid_cases.describe()

,SNo,RegionCode,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
count,3969.000000,3969.000000,3969.000000,3969.000000,3969.000000,3969.000000,3969.000000,3969.000000,3969.000000,3969.000000,3969.000000,3969.000000,3969.000000,2814.000000
mean,1984.000000,11.857143,43.046293,12.225955,421.391786,47.423532,468.815319,1519.080373,1987.895692,67.600655,5690.432351,1236.545477,8914.873520,144842.293177
std,1145.895938,6.274589,2.489094,2.659283,1288.069029,136.715053,1419.884880,3475.404861,4653.449132,194.704262,11857.346555,3033.276516,17492.444342,154603.423104
min,0.000000,1.000000,38.115697,7.320149,0.000000,0.000000,0.000000,0.000000,0.000000,-229.000000,0.000000,0.000000,0.000000,3482.000000
25%,992.000000,7.000000,41.125596,11.121231,9.000000,0.000000,10.000000,74.000000,91.000000,1.000000,298.000000,72.000000,1143.000000,45610.750000
50%,1984.000000,12.000000,43.616760,12.388247,50.000000,5.000000,57.000000,326.000000,397.000000,10.000000,1398.000000,292.000000,3235.000000,87426.500000
75%,2976.000000,17.000000,45.434905,13.768136,234.000000,31.000000,269.000000,1294.000000,1587.000000,50.000000,4471.000000,906.000000,7772.000000,191049.000000
max,3968.000000,22.000000,46.499335,16.867367,12077.000000,1381.000000,13328.000000,30382.000000,37307.000000,3251.000000,76248.000000,16863.000000,99940.000000,966973.000000